@use "variables";

.btn {
  font-size: var(--font-size, variables.$font-size-base);
}

.btn-primary {
  background-color: var(--primary, variables.$primary);
  border-color: var(--primary, variables.$primary);
}

.btn-outline-primary {
  border-color: var(--primary, variables.$primary);
}
