@import "variables";


.btn {
  font-size: var(--font-size, $font-size-base);
  position: relative;

  &:hover {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.btn-primary {
  background-color: var(--primary, $primary);
  border-color: var(--primary, $primary);
  color: var(--on-primary, $on-primary);

  &:hover, &:active, &:focus {
    background-color: var(--primary, $primary);
    border-color: var(--primary, $primary);
  }
}

.btn-outline-primary {
  border-color: var(--primary, $primary);

  &:hover, &:active, &:focus {
    color: var(--on-primary, $on-primary);
    background-color: var(--primary, $primary);
    border-color: var(--primary, $primary);
  }
}
