@use 'sass:map';

$font-size-base: .875rem;
$spacer: 1rem;
$font-family-base: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$blue: #007bff;
$red: #dc3545;
$white: #fff;

$primary: $blue;
$on-primary: $white;
$background: $white;

$spacers: (
  0: 0,
  1: calc(var(--space, $spacer) * .25),
  2: calc(var(--space, $spacer) * .5),
  3: var(--space, $spacer),
  4: calc(var(--space, $spacer) * 1.5),
  5: calc(var(--space, $spacer) * 3),
);

$negative_spacers: (
  1: calc(var(--space, $spacer) * -.25),
  2: calc(var(--space, $spacer) * -.5),
  3: calc(var(--space, $spacer) * -1),
  4: calc(var(--space, $spacer) * -1.5),
  5: calc(var(--space, $spacer) * -3)
);

$property-values: (
  font-size: $font-size-base,
  h1-font-size: $font-size-base * 2.5,
  h2-font-size: $font-size-base * 2,
  h3-font-size: $font-size-base * 1.75,
  h4-font-size: $font-size-base * 1.5,
  h5-font-size: $font-size-base * 1.25,
  h6-font-size: $font-size-base,
  font-family: $font-family-base,
  space: $spacer,
  primary: $primary,
  on-primary: $on-primary,
  bg-color: $background,
);

:root {
  @each $style in map.keys($property-values) {
    --#{$style}: #{map.get($property-values, $style)};
  }
}
