@import "styles/mixins";
@import "styles/variables";


:host {
  position: relative;

  &.live {
    @include prop('border-color', $red);
  }

  app-live-indicator {
    display: none;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &.live {
    app-live-indicator {
      display: inline-block;
    }
  }
}
app-speaker {
  max-width: 320px;
}
