<div class="card-body">
  <b class="text-muted">{{ statement.startedAt | date: 'shortTime' }} - {{ statement.endedAt | date: 'shortTime' }}</b>
  <h3 class="card-title">{{ statement.name }}</h3>
  <p class="card-text">{{ statement.abstract }}</p>

  <ng-container *ngIf="statement.speakers?.length">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 ">
      <ng-container *ngFor="let speaker of statement.speakers">
        <app-speaker class="col mb-4" [speakerIds]="speaker"></app-speaker>
      </ng-container>
    </div>
  </ng-container>
</div>
