<div class="card-body">
  <b class="text-muted">{{ statement.startTimestamp | date: 'shortTime' }} - {{ statement.endTimestamp | date: 'shortTime' }}</b>
  <h3 class="card-title">{{ statement.name }}</h3>
  <p class="card-text">{{ statement.abstract }}</p>

  <ng-container *ngIf="statement.speakers?.length">
    <div class="d-flex flex-wrap">
      <ng-container *ngFor="let speaker of statement.speakers">
        <app-speaker class="mb-4 mr-2" [speakerIds]="speaker"></app-speaker>
      </ng-container>
    </div>
  </ng-container>
</div>
