@use "src/styles/mixins";
@use "src/styles/variables";


:host {
  position: relative;

  &.live {
    @include mixins.prop('border-color', variables.$red);
  }

  app-live-indicator {
    display: none;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &.live {
    app-live-indicator {
      display: inline-block;
    }
  }
}
app-speaker {
  max-width: 320px;
}
