@import "src/styles/mixins";
@import "src/styles/variables";

:host {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;

  @include prop('background-color', bg-color);
  @include prop('color', $red);
  @include prop('border-color', $red);
}
